@using Fieorella.Models
@model List<Category>

@{
    int count = 0;
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Category Table</h4>
                <div class="table-responsive">
                    <a asp-action="create" class="btn btn-success">Create</a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    №
                                </th>
                                <th style="text-align:center">
                                    Name
                                </th>
                                <th style="text-align:center">
                                    Setting
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Category category in Model)
                            {
                                count++;
                                <tr>
                                    <td>
                                        <p>@count</p>
                                    </td>
                                    <th style="text-align:center">
                                        <p>@category.Name</p>
                                    </th>
                                    <td style="text-align:center">
                                        <a class="btn btn-warning" asp-action="edit" asp-route-id="@category.Id"><i class="mdi mdi-pencil-box">edit</i></a>
                                        <a class="btn btn-danger" asp-action="delete" asp-route-id="@category.Id"><i class="mdi mdi-delete-forever">delete</i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>